[submodule "CaptainHook"]
	path = CaptainHook
	url = git://github.com/rpetrich/CaptainHook
[submodule "_/CF"]
	path = _/CF
	url = https://github.com/opensource-apple/CF.git
[submodule "_/xnu"]
	path = _/xnu
	url = https://github.com/opensource-apple/xnu.git
